<footer class="bg-light text-center text-lg-start">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(52,54,66)">
        © 2022 Copyright:
        <a class=" text-dark " href="https:/places-tostay.herokuap.com/ ">Places to stay!</a>
    </div>
    <!-- Copyright -->
</footer>