<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/login-register.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/edff614c3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/login-register.css" />
    <link rel="stylesheet" type="text/css" href="css/creditcard.css" />


    <title>Places to stay</title>
</head>

<body>

    <% if (messages.errors) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%- messages.errors %>
        </div>
        <%}%>

            <%- include('partials/navbarUser.ejs') %>

                <div class="modal fade login" id="creditCard">
                    <div class="modal-dialog login animated">
                        <div id="card-success" class="hidden">
                            <i class="fa fa-check"></i>
                            <p>Payment Successful!</p>
                        </div>
                        <div id="form-errors" class="hidden">
                            <i class="fa fa-exclamation-triangle"></i>
                            <p id="card-error">Card error</p>
                        </div>

                        <div id="form-container"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <div id="card-front">
                                <div id="shadow"></div>

                                <div id="image-container">
                                    <span id="amount">Your credit card will be debited: <strong>£99</strong></span>
                                    <span id="card-image">  </span>
                                </div>
                                <!--- end card image container --->

                                <label for="card-number">
              Card Number
            </label>
                                <input type="text" id="card-number" placeholder="1234 5678 9101 1112" maxlength="16">
                                <div id="cardholder-container">
                                    <label for="card-holder">Card Holder
            </label>
                                    <input type="text" id="card-holder" placeholder="e.g. John Doe" />
                                </div>
                                <!--- end card holder container --->
                                <div id="exp-container">
                                    <label for="card-exp">
                Expiration
              </label>
                                    <input id="card-month" type="text" placeholder="MM" maxlength="2">
                                    <input id="card-year" type="text" placeholder="YY" maxlength="2">
                                </div>
                                <div id="cvc-container">
                                    <label for="card-cvc"> CVC/CVV</label>
                                    <input id="card-cvc" placeholder="XXX-X" type="text" minlength="3" maxlength="4">
                                    <p>Last 3 or 4 digits</p>
                                </div>
                                <!--- end CVC container --->
                                <!--- end exp container --->
                            </div>
                            <!--- end card front --->
                            <div id="card-back">
                                <div id="card-stripe">
                                </div>

                            </div>
                            <!--- end card back --->
                            <input type="text" id="card-token" />
                            <button type="button" id="card-btn" onclick="payment()">Submit</button>

                        </div>
                        <!--- end form container --->
                    </div>
                </div>

                <!--- end of modal container-->

                <div id="map"></div>


                <br><br>



                <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
                <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
                <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
                <!-- <script type="text/javascript">
            $(document).ready(function() {
                openLoginModal();
            });
        </script> -->
                <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
                <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
                <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
                <script src="js/script.js"></script>
</body>
<script type="text/javascript">
    var map = L.map('map').setView([51.505, -0.09], 13);
    map.mapPane = 1;
    var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);



    var lc = L.control.locate({
        position: 'topleft',
        strings: {
            title: "Detect your current position!"
        }
    }).addTo(map);

    var popup = L.popup()

    var layerGroup = L.layerGroup().addTo(map);

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent('Nothing here ')
            .openOn(map);
    }


    map.on('click', onMapClick);
</script>
<script type="text/javascript">
    function bookAccommodation() {

        if (!sessionStorage.getItem('username')) {
            document.getElementById('loginError').setAttribute('class', 'alert-danger visible')
            document.getElementById('loginError').innerHTML = `<h1>Sorry, you need to be logged in order to book.</h1>`
            openLoginModal()
            $('#loginModal').on('hidden.bs.modal', function() {
                document.getElementById('loginError').setAttribute('class', 'invisible')
            })
        } else {

            const accID = document.getElementById("accID").value
            const begin_at = document.getElementById("datepicker").value
            const npeople = document.getElementById("npeople").value

            if (accID.length === 0) {
                alert('Invalid accommodation ID, please contact the administrator at admin@placestotstay.co.uk')
            } else if (!begin_at) {
                alert('Please select a date.')
            } else if (npeople.length === 0) {
                alert('Please select the number of people.')
            } else {
                validate()
                openCreditCard()
            }
        }

        function validate() {

            if (parseInt(document.getElementById('npeople').value) < 0) {
                alert(`Cannot book for ${document.getElementById('npeople').value} people. Please adjust the number of people`);
                throw "exit"
            } else if (parseInt(document.getElementById('npeople').value) > parseInt(document.getElementById('forMaxPeople').value)) {
                alert('You are trying to book more people then the venue can accommodate. Please adjust the number of people or try another date.');
                throw "exit"
            }
        }
    }
</script>
<script>
    function loginFunction() {


        let loginObj = {
            loginUser: document.getElementById("loginUser").value,
            loginPassword: document.getElementById("loginPassword").value,
        }


        $.ajax({
            type: "POST",
            url: "http://localhost:3030/login",
            data: JSON.stringify(loginObj),
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(msg) {
                if (msg === false) {
                    var element = document.getElementById('loginError')
                    element.style.display = "block"
                    element.innerHTML = '<h2>User or password incorrect!<h2>'
                    $('#loginError').delay(1000).fadeOut(1000)
                        .promise().done(function() {
                            element.innerHTML = '<a href="#" class="close" id="loginError">×</a>'
                        });
                } else {

                    let username = sessionStorage.setItem('username', msg.username)
                    let access = sessionStorage.setItem('access', msg.admin)

                    document.getElementById('loggedInAs').innerHTML += username
                    var navNotLogged = document.getElementById('navNotLogged')
                    var navLogged = document.getElementById('navLogged')

                    $('.modal').modal('hide')

                    $("#navNotLogged").fadeOut(2000).promise().done(function() {
                        document.getElementById('loggedInAs').innerHTML = 'You are logged in as ' + sessionStorage.getItem('username')
                        navLogged.style.display = 'block';
                    })




                }

            },
            error: function() {
                console.log('Error!!');
            }
        })
    }

    function logout() {

        sessionStorage.clear()

        var navNotLogged = document.getElementById('navNotLogged')
        var navLogged = document.getElementById('navLogged')
        $("#navLogged").fadeOut(2000).promise().done(function() {
            navNotLogged.style.display = 'block'
        })

        const url = "http://localhost:3030/logout"

        let xhr = new XMLHttpRequest()
        xhr.open('POST', url, true)
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
        xhr.send();


    }
</script>
<script>
    function payment() {

        let bookObj = {
            accID: document.getElementById("accID").value,
            begin_at: document.getElementById("datepicker").value,
            npeople: document.getElementById("npeople").value
        }

        const creditCard = {
            cardHolder: document.getElementById('card-holder').value,
            cardNumber: document.getElementById('card-number').value,
            cardCVC: document.getElementById('card-cvc').value,
            expDetails: document.getElementById('card-month').value.toString() + "/" + document.getElementById('card-year').value.toString()
        }


        $.ajax({
            type: "POST",
            url: "http://localhost:3030/checkCreditCard",
            data: JSON.stringify([creditCard, bookObj]),
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(response) {
                cardChecker(response)
            },
            error: function(xhr, status, error) {
                alert("An error occured during booking, please contact the Administrator!", error);
            }

        });

        // payment().then((response) => {

        //     if (!response) {
        //         alert('Payment unsuccessful, your account was not debited.');
        //         return
        //     } else {
        //         $.ajax({
        //             type: "POST",
        //             url: "http://localhost:3030/book",
        //             data: JSON.stringify(bookObj),
        //             contentType: "application/json; charset=utf-8",
        //             async: true,
        //             success: function(response) {
        //                 alert(response)
        //                 map.closePopup();
        //             },
        //             error: function(xhr, status, error) {
        //                 alert("An error occured during booking, please contact the Administrator!", error);
        //             }

        //         });
        //     }
        // })
    }
</script>

</html>